{% extends "inc/base.html" %}
{% load bootstrap4 %}
{% block content %}
{% for message in messages %}
  <div class="alert alert-danger">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
  </div>
{% endfor %}
<h2 class="h3 mb-4">Change password</h2>
    <form class="form mb-5" method="POST" novalidate>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Change</button>
  {% endbuttons %}
</form>
{% endblock content %}