{% extends "inc/base.html" %}
{% load static %}

{% block content %}
<div class="card border-dark mt-3 mb-5">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="{% static "img/teapot1.png" %}" class="img-fluid mx-auto">
                <div class="d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-link text-danger btn-sm p-0">▼</button>
                    <span class="badge badge-light text-wrap mx-0">{{ question.get_rating }}</span>
                <button type="button" class="btn btn-link text-success btn-sm p-0">▲</button>
                </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h3 class="card-title mb-0">{{ question.title }}</h3>
                <div class="mb-1 text-muted">{{ question.date_modified|date:"j M Y" }} {{ question.date_modified|time:"H:i" }}</div>
                <p class="card-text">{{ question.text }}</p>
            </div>
            <div class="card-footer bg-transparent">
                <span class="mr-3">
                    tags:
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' sometag=tag %}" class="text-decoration-none">{{ tag }}</a>
                    {% endfor %}
                </span>
                <span class="mr-3">
                    author:
                    <a>{{ question.author }}</a>
                </span>
            </div>
        </div>
    </div>
</div>

<h4>Answers:</h4>
<ul class="list-unstyled">
    {% for answer in answers %}
    <li>
        {% include 'inc/answer.html' %}
    </li>
    {% endfor %}
</ul>
{% include 'inc/pagination.html' with objects=answers %}
<form class="mb-5">
  <div class="form-group row">
    <div class="col-sm-12">
      <textarea class="form-control" id="AreaForAnswer" rows="5"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Answer!</button>
</form>
{% endblock content %}