{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="card border-dark mt-3 mb-5">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src={{ question.author.avatar.url }} class="img-fluid mx-auto">
                <div class="d-flex justify-content-center mt-2">
                    <a href="#" class="js-vote text-danger" data-action="dislike" data-qid="{{ question.id }}" data-type="question">▼</a>
                    <span class="badge badge-light text-wrap mx-0" id="question_rating_{{ question.id }}">{{ question.rating }}</span>
                    <a href="#" class="js-vote text-success" data-action="like" data-qid="{{ question.id }}" data-type="question">▲</a>
                </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h3 class="card-title mb-0">{{ question.title }}</h3>
                <div class="mb-1 text-muted">{{ question.date_modified|date:"j M Y" }} {{ question.date_modified|time:"H:i" }}</div>
                <p class="card-text">{{ question.text }}</p>
            </div>
            <div class="card-footer bg-transparent">
                <span class="mr-3">
                    tags:
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' sometag=tag %}" class="text-decoration-none">{{ tag }}</a>
                    {% endfor %}
                </span>
                <span class="mr-3">
                    author:
                    <a>{{ question.author }}</a>
                </span>
            </div>
        </div>
    </div>
</div>

<h4>Answers:</h4>
<ul class="list-unstyled">
    {% for answer in answers %}
    <li>
        {% include 'inc/answer.html' %}
    </li>
    {% endfor %}
</ul>
{% include 'inc/pagination.html' with objects=answers %}

{% if request.user.is_authenticated %}
    <form class="form mb-5" method="POST" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Answer!</button>
      {% endbuttons %}
    </form>
{% else %}
    <a href="{% url 'login' %}?next={{request.path}}">log in to answer</a>
    <br>
{% endif %}
{% endblock content %}
{% block jscode %}
    <script src="{% static "js/votes.js" %}"></script>
{% endblock jscode %}