{% load static %}
<div class="card border-dark my-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src={{ question.author.avatar.url }} class="img-fluid mx-auto">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <a href="{% url 'question' qid=question.id %}"><h4 class="card-title mb-0">{{ question.title }}</h4></a>
                <div class="mb-1 text-muted">{{ question.date_modified|date:"j M Y"}}</div>
            </div>
            <div class="card-footer bg-transparent">
                <span class="mr-3">
                    <a href="#" class="js-vote text-danger" data-action="dislike" data-qid="{{ question.id }}" data-type="question">▼</a>
                    <span class="badge badge-light text-wrap mx-0" id="question_rating_{{ question.id }}">{{ question.rating }}</span>
                    <a href="#" class="js-vote text-success" data-action="like" data-qid="{{ question.id }}" data-type="question">▲</a>
                </span>
                <span class="mr-3">
                    answers
                    <span class="badge badge-primary">{{ question.num_answers }}</span>
                </span>
                <span class="mr-3">
                    tags:
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' sometag=tag %}" class="text-decoration-none">{{ tag }}</a>
                    {% endfor %}
                </span>
                <span class="mr-3">
                    author:
                    <a>{{ question.author }}</a>
                </span>
            </div>
        </div>
    </div>
</div>

